<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title>Status &middot; LabPages</title>

    <%= css :appcss %>
    <script>
        var LabPages = {
            endpoint: '<%= @ws_endpoint %>',
            gitlabUrl: '<%= @gitlab %>',
            domain: '<%= @domain %>'
        };
    </script>
    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.js"></script>
    <%= js :appjs %>
</head>

<body data-ng-app="labpages">
    <div class="container" data-ng-controller='LabPagesCtrl'>
        <h1>LabPages - Status</h1>

        <div class="alert" data-ng-class="{'alert-success': hook.up, 'alert-danger': !hook.up}">
            <div class="clearfix">
                <h6 class="pull-left">
                  LabPages Web Hook<br/>
                  <small data-ng-show="hook.up">
                    <a href="/sidekiq" class="text-success">Sidekiq</a>:
                    <span class="text-danger">{{hook.data.sidekiq.failed}} failed</span> / {{hook.data.sidekiq.processed}} processed
                  </small>
                </h6>
                <p class="status pull-right" data-ng-show="hook.up">
                  <small data-ng-show="hook.time">Last ping <moment data-datetime="hook.time"></moment></small>
                </p>
            </div>
        </div>

        <div data-ng-class="{'alert-success': socket.connected, 'alert-danger': !socket.connected}" class="alert" id="socket">
            <div class="clearfix">
                <h6 class="pull-left">LabPages WebSocket</h6>
                <p class="pull-right" data-ng-show="!socket.connected">
                    <a id="reconnect" class="btn btn-small btn-success" data-ng-click="reconnect(this, $event)">Reconnect</a>
                </p>
                <p class="status pull-right" data-ng-show="socket.connected">
                    <small data-ng-show="socket.time">Last event <moment data-datetime="socket.time"></moment></small>
                </p>
            </div>
        </div>

        <div class="alert" data-ng-class="{'alert-success': redis.up, 'alert-danger': !redis.up}">
            <div class="clearfix">
                <h6 class="pull-left">Redis Server</h6>
                <p class="status pull-right" data-ng-show="redis.up">
                    <small data-ng-show="redis.time">Last ping <moment data-datetime="redis.time"></moment></small>
                </p>
            </div>
        </div>

        <hr/>

        <div data-ng-repeat="repository in repositories" data-ng-init="showLog = false" class="panel" data-ng-class="{'panel-danger': !repository.refs.deployed || !repository.refs.remote, 'panel-success': repository.refs.deployed[0] == repository.refs.remote[0], 'panel-warning': repository.refs.deployed[0] != repository.refs.remote[0]}">
            <div class="panel-heading clearfix">
                <h3 class="panel-title pull-left">
                    <a data-ng-href="//{{repository.owner}}.{{application.domain}}/{{repository.name}}">{{repository.owner}}/{{repository.name}}</a>
                </h3>
                <small>
                    <moment data-datetime="repository.time"></moment>
                </small>
                <small class="pull-right">
                    <span>{{label}}</span>
                    <a data-ng-mouseleave="label = ''" data-ng-mouseover="label = 'Log'" data-ng-show="repository.log" data-ng-click="showLog = !showLog"><i class="icon icon-file-text icon-large"></i></a>
                    <a data-ng-mouseleave="label = ''" data-ng-mouseover="label = 'Refresh'" data-ng-click="refresh(this, $event)"><i class="icon icon-refresh icon-large"></i></a>
                    <a data-ng-mouseleave="label = ''" data-ng-mouseover="label = 'Delete'" data-ng-click="delete(this, $event)"><i class="icon icon-trash icon-large"></i></a>
                    <a data-ng-mouseleave="label = ''" data-ng-mouseover="label = 'Deploy'" data-ng-show="repository.refs.deployed[0] != repository.refs.remote[0]" data-ng-click="deploy(this, $event)"><i class="icon icon-cloud-upload icon-large"></i></a>
                </small>
            </div>

            <div data-ng-show="showLog">
                <h6>Log</h6>
                <pre class="log">{{repository.log}}</pre>
            </div>

            <div data-ng-hide="showLog">
                <div data-ng-show="repository.refs.remote && (!repository.refs.deployed || repository.refs.remote[0] != repository.refs.deployed[0])">
                    <h6>Remote</h6>

                    <div class="well">
                        <div class="row">
                            <img class="avatar pull-left" data-ng-src="http://www.gravatar.com/avatar/{{repository.refs.remote[4]}}"/>
                            <p class="pull-left">
                                <strong>{{repository.refs.remote[1]}}</strong><br/>
                                <a data-ng-href="{{application.gitlabUrl}}/u/{{repository.refs.remote[3]}}">{{repository.refs.remote[3]}}</a> authored <moment data-datetime="repository.refs.remote[2]"></moment>
                            </p>
                            <div class="pull-right">
                                <a class="btn btn-default" data-ng-href="{{application.gitlabUrl}}/{{repository.owner}}/{{repository.name}}/commit/{{repository.refs.remote[0]}}">
                                    <i class="icon icon-eye-open icon-large"></i> {{repository.refs.remote[0] | substr:0:9}}
                                </a>
                            </div>
                        </div>
                    </div>

                    <a class="btn btn-default btn-more" data-ng-init="more=false" data-ng-click="more=!more" data-ng-show="repository.refs.commits.length && repository.refs.commits.length > 1">
                        <strong>{{repository.refs.commits.length}} more commits...</strong>
                    </a>

                    <div data-ng-repeat="commit in repository.refs.commits" class="well" data-ng-show="more || repository.refs.commits.length == 1">
                        <div class="row">
                            <img class="avatar pull-left" data-ng-src="http://www.gravatar.com/avatar/{{commit[4]}}"/>
                            <p class="pull-left">
                                <strong>{{commit[1]}}</strong><br/>
                                <a data-ng-href="{{application.gitlabUrl}}/u/{{commit[3]}}">{{commit[3]}}</a> authored <moment data-datetime="commit[2]"></moment>
                            </p>
                            <div class="pull-right">
                                <a class="btn btn-default" data-ng-href="{{application.gitlabUrl}}/{{repository.owner}}/{{repository.name}}/commit/{{commit[0]}}">
                                    <i class="icon icon-eye-open icon-large"></i> {{commit[0] | substr:0:9}}
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <h6 data-ng-show="repository.refs.deployed">Deployed</h6>

                <div data-ng-show="repository.refs.deployed" class="well">
                    <div class="row">
                        <img class="avatar pull-left" data-ng-src="http://www.gravatar.com/avatar/{{repository.refs.deployed[4]}}"/>
                        <p class="pull-left">
                            <strong>{{repository.refs.deployed[1]}}</strong><br/>
                            <a data-ng-href="{{application.gitlabUrl}}/u/{{repository.refs.deployed[3]}}">{{repository.refs.deployed[3]}}</a> authored <moment data-datetime="repository.refs.deployed[2]"></moment>
                        </p>
                        <div class="pull-right">
                            <a class="btn btn-default" data-ng-href="{{application.gitlabUrl}}/{{repository.owner}}/{{repository.name}}/commit/{{repository.refs.deployed[0]}}">
                              <i class="icon icon-eye-open icon-large"></i> {{repository.refs.deployed[0] | substr:0:9}}
                            </a>
                        </div>
                    </div>
                </div>

                <div data-ng-show="!repository.refs.deployed || !repository.refs.remote">
                    <p>Can't determine page status...</p>
                    <pre>{{repository.error}}</pre>
                </div>
            </div>
        </div>

        <hr/>

        <p style="text-align: center">
            <a data-toggle="modal" href="#howto" class="btn btn-default">How to enable ?</a>
        </p>
    </div>

    <div class="modal fade" id="howto">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Enable LabPages</h4>
                </div>
                <div class="modal-body">
                    <ol>
                        <li>
                          <p>Create <strong>an orphan <code>gl-pages</code> branch</strong> in your repository</p>

                          <pre>git checkout --orphan gl-pages
git commit -m"Initial labpages commit" --allow-empty</pre>
                        </li>
                        <li>
                          <p>Add the following <strong>deploy key</strong> to your repository</p>

                          <pre><%= @public_key %></pre>
                        </li>
                        <li>
                            <p>Enable LabPages <strong>web hook</strong></p>

                            <pre>http://pages.<%= @domain %>/hook/gitlab</pre>
                        </li>
                        <li>
                          <p><strong>Push your branch</strong> to your remote</p>

                          <pre>git push origin gl-pages:gl-pages -u</pre>
                        </li>
                        <li>
                          <p><strong>Browse</strong> to your static website</p>

                          <pre>http://owner.<%= @domain %>/repository</pre>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
