<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title>Status &middot; LabPages</title>

    <%= css :appcss %>
    <script>
        var LabPages = {
            endpoint: '<%= @ws_endpoint %>',
            gitlabUrl: '<%= @gitlab %>',
            domain: '<%= @domain %>'
        };
    </script>
    <%= js  :appjs %>
</head>

<body ng-app="labpages">
    <div class="container" ng-controller='LabPagesCtrl'>
        <h1>LabPages - Status</h1>

        <div class="alert" ng-class="{'alert-success': hook.up, 'alert-danger': !hook.up}">
            <div class="clearfix">
                <h6 class="pull-left">LabPages Web Hook</h6>
                <p class="status pull-right" ng-show="hook.up">
                  <small>Last ping on {{hook.time}}</small>
                </p>
            </div>
        </div>

        <div ng-class="{'alert-success': socket.connected, 'alert-danger': !socket.connected}" class="alert" id="socket">
            <div class="clearfix">
                <h6 class="pull-left">LabPages WebSocket</h6>
                <p class="pull-right" ng-show="!socket.connected">
                    <a id="reconnect" class="btn btn-small btn-success" ng-click="reconnect(this, $event)">Reconnect</a>
                </p>
                <p class="status pull-right" ng-show="socket.connected">
                    <small>Last event on {{socket.time}}</small>
                </p>
            </div>
        </div>

        <hr/>

        <div ng-repeat="repository in repositories" class="panel" ng-class="{'panel-danger': !repository.refs.deployed || !repository.refs.remote, 'panel-success': repository.refs.deployed[0] == repository.refs.remote[0], 'panel-warning': repository.refs.deployed[0] != repository.refs.remote[0]}">
            <div class="panel-heading clearfix">
                <h3 class="panel-title pull-left">
                    <a ng-href="//{{repository.owner}}.{{application.domain}}/{{repository.name}}">{{repository.owner}}/{{repository.name}}</a>
                </h3>
                <small class="pull-right">
                    {{repository.time}}
                </small>
            </div>

            <div ng-show="repository.refs.remote && (!repository.refs.deployed || repository.refs.remote[0] != repository.refs.deployed[0])">
                <h6>
                    Remote
                </h6>

                <div class="well">
                    <div class="row">
                        <img class="avatar pull-left" ng-src="http://www.gravatar.com/avatar/{{repository.refs.remote[4]}}"/>
                        <p class="pull-left">
                            <strong>{{repository.refs.remote[1]}}</strong><br/>
                            <a ng-href="{{application.gitlabUrl}}/u/{{repository.refs.remote[3]}}">{{repository.refs.remote[3]}}</a> authored {{repository.refs.remote[2]}}
                        </p>
                        <div class="pull-right">
                            <a class="btn btn-default" ng-href="{{application.gitlabUrl}}/{{repository.owner}}/{{repository.name}}/commit/{{repository.refs.remote[0]}}">
                                <i class="icon icon-eye-open icon-large"></i> {{repository.refs.remote[0] | substr:0:9}}
                            </a>
                        </div>
                    </div>
                </div>

                <a class="btn btn-default btn-more" ng-click="more(this, $event)" ng-show="repository.refs.commits.length && repository.refs.commits.length > 1">
                    <strong>{{repository.refs.commits.length}} more commits...</strong>
                </a>

                <div ng-repeat="commit in repository.refs.commits" class="well" ng-class="{'commit': repository.refs.commits.length && repository.refs.commits.length > 1}">
                    <div class="row">
                        <img class="avatar pull-left" ng-src="http://www.gravatar.com/avatar/{{commit[4]}}"/>
                        <p class="pull-left">
                            <strong>{{commit[1]}}</strong><br/>
                            <a ng-href="{{application.gitlabUrl}}/u/{{commit[3]}}">{{commit[3]}}</a> authored {{commit[2]}}
                        </p>
                        <div class="pull-right">
                            <a class="btn btn-default" ng-href="{{application.gitlabUrl}}/{{repository.owner}}/{{repository.name}}/commit/{{commit[0]}}">
                                <i class="icon icon-eye-open icon-large"></i> {{commit[0] | substr:0:9}}
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <h6 ng-show="repository.refs.deployed">
                Deployed
            </h6>

            <div ng-show="repository.refs.deployed" class="well">
                <div class="row">
                    <img class="avatar pull-left" ng-src="http://www.gravatar.com/avatar/{{repository.refs.deployed[4]}}"/>
                    <p class="pull-left">
                        <strong>{{repository.refs.deployed[1]}}</strong><br/>
                        <a ng-href="{{application.gitlabUrl}}/u/{{repository.refs.deployed[3]}}">{{repository.refs.deployed[3]}}</a> authored {{repository.refs.deployed[2]}}
                    </p>
                    <div class="pull-right">
                        <a class="btn btn-default" ng-href="{{application.gitlabUrl}}/{{repository.owner}}/{{repository.name}}/commit/{{repository.refs.deployed[0]}}">
                          <i class="icon icon-eye-open icon-large"></i> {{repository.refs.deployed[0] | substr:0:9}}
                        </a>
                    </div>
                </div>
            </div>

            <div ng-show="!repository.refs.deployed || !repository.refs.remote">
                <p>Can't determine page status...</p>
                <pre>{{repository.error}}</pre>
            </div>

            <div class="panel-footer clearfix" ng-show="repository.refs.deployed[0] != repository.refs.remote[0]">
                <a href="#" class="btn btn-small btn-success pull-right deploy" ng-click="deploy(this, $event)">Deploy</a>
            </div>
        </div>

        <hr/>

        <p style="text-align: center">
            <a data-toggle="modal" href="#howto" class="btn btn-link">How to enable ?</a>
        </p>
    </div>

    <div class="modal fade" id="howto">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Enable LabPages</h4>
                </div>
                <div class="modal-body">
                    <ol>
                        <li>
                          <p>Create <strong>an orphan <code>gl-pages</code> branch</strong> in your repository</p>

                          <pre>git checkout --orphan gl-pages
git commit -m"Initial labpages commit" --allow-empty</pre>
                        </li>
                        <li>
                          <p>Add the following <strong>deploy key</strong> to your repository</p>

                          <pre><%= @public_key %></pre>
                        </li>
                        <li>
                            <p>Enable LabPages <strong>web hook</strong></p>

                            <pre>http://pages.<%= @domain %>/hook/gitlab</pre>
                        </li>
                        <li>
                          <p><strong>Push your branch</strong> to your remote</p>

                          <pre>git push origin gl-pages:gl-pages -u</pre>
                        </li>
                        <li>
                          <p><strong>Browse</strong> to your static website</p>

                          <pre>http://owner.<%= @domain %>/repository</pre>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
